.header {
    background-color: goldenrod;
    font-size: 1rem;
}

.container {
    max-width: 1200px;
    width: 80vw;
    height: 60vh;
    background-color: rgb(47, 178, 234);
}

.block {
    width: 20px;
    height: 20px;
    background-color: rgb(47, 178, 234);
    display: inline-block;
}

.snake {
    background-color: goldenrod;
}

.food {
    background-color: rgb(0, 0, 0);
}