.header {
    background-color: rgb(11, 17, 134);
}

.container {
    width: 90vw;
    height: 60vh;
    background-color: rgb(214, 200, 216);
}

.block {
    width: 40px;
    height: 40px;
    background-color: rgb(182, 224, 237);
    display: inline-block;
}

.snake {
    background-color: chartreuse;
}

.food {
    background-color: rgb(64, 64, 220);
}